/* exercise1 */
.formcarry-container {
  margin: 40px auto 0 auto;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  width: 400px;
}
.grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#payment-block {
  display: flex;
  flex-direction: column;
}
#payment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
/* exercise3 */
.rgb_grid {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
}
#rgb_block {
  background-color: rgb(3, 5, 90);
  margin: 4px;
}
